.container:after,.container:before {
    display:table;
    content:" "
}
.container:after {
    clear:both
}
.polyboard {
    background:url(../img/polyboarder_bg.png) center -20px repeat-x;
    background-size:cover;
    padding:120px 0 70px;
    margin-top: -20px;
}
.polyboard h1{
    color:#fff;
    font-size:55px;
    text-shadow: 0 0 40px rgba(0,0,0,.8);
}
.polyboard p{
    color: #fff;
    font-size: 23px;
    line-height: 1.4;
}
.section-title{
    width: 600px;
    font-size: 22px;
    margin: auto;
    content: "";
    display: block;
    height: 1px;
    position: inherit;
    margin-top: 14px;
    z-index: 1;
}
section.what-we-do {
    padding:40px 0;
    text-align:center
}
@media (min-width:768px) {
    section.what-we-do {
        padding:70px 0 80px
    }
}
section.what-we-do h2 {
    margin-top:50px
}
section.what-we-do p {
    margin-top:20px
}
section.what-we-do a {
    margin-top:30px;
    font-size:26px;
    display:inline-block
}
.section-title {
    width:260px;
    text-align:center;
    margin:auto;
    font-size:18px
}
@media (min-width:768px) {
    .section-title {
        width:600px;
        font-size:22px
    }
}.section-title:before {
    content:"";
    display:block;
    border-top:solid 1px #333;
    height:1px;
    position:absolute;
    margin-top:14px;
    z-index:1;
    width:260px
}
@media (min-width:768px) {
    .section-title:before {
        width:600px
    }
}.section-title span {
    background:#fff;
    padding:0 20px;
    position:relative;
    z-index:5
}
.col-md-6 .section-title,.col-md-6 .section-title:before {
    width:260px
}
@media (min-width:768px) {
    .col-md-6 .section-title {
        width:500px
    }
}
@media (min-width:768px) {
    .col-md-6 .section-title:before {
        width:500px
    }
}
section.featured-work {
    padding:40px 0;
    color:#fff;
    background: #000;
    //background:#e67d25;
    text-align:center
}
@media (min-width:768px) {
    section.featured-work {
        padding:70px 0
    }
}section.featured-work a {
    font-size:26px;
    display:inline-block;
    color:#fff
}
section.featured-work .section-title:before {
    border-top:solid 1px #fff
}
section.featured-work .section-title span {
    background:#000
}
section.featured-work .company a {
    opacity:1;
    padding:30px 50px;
    display:block
}
@media (min-width:992px) {
    section.featured-work .company a {
        height:200px;
        line-height:200px;
        padding:0 50px
    }
}section.featured-work .company a:hover {
    opacity:.8
}
.row {
    margin-right:-15px;
    margin-left:-15px
}
.row:after,.row:before {
    display:table;
    content:" "
}
.row:after {
    clear:both;
}
img {
    max-width: 100%;
    max-height: 100%;
}
a, a:visited { 
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    text-decoration: none;
}
.demo-button { 
    background:#fff;
    border:2px solid #303336 !important; 
    font-size:18px;
    color:#303336; 
    padding:16px 28px; 
    display:inline-block; 
    margin-top:38px;
    font-weight:600;
    border-radius: 5px 5px 5px 5px;
}
.demo-button:hover {
    background:#303336 !important;
    border:2px solid #303336 !important;
    color:#fff !important
}
.polyboard a {
    color:#303336;
    text-decoration:none;
    border-bottom:1px solid #d5d6d6;
}
.polyboard a:hover {
    color:#64686c;
    text-decoration:none;
    border-bottom:1px solid #d5d6d6;
}
section.company-updates {
    padding-bottom:80px
}
section.company-updates .col-md-6 {
    margin-top:40px;
    overflow:auto
}
@media (min-width:768px) {
    section.company-updates .col-md-6 {
        margin-top:70px
    }
}section.company-updates .col-md-6 a.bttn {
    float:none;
    margin-top:20px
}
@media (min-width:768px) {
    section.company-updates .col-md-6 a.bttn {
        float:right
    }
}section.company-updates ul.blog-posts {
    min-height:340px;
    margin-top:50px;
    border:1px solid #fff;
    padding-left:15px
}
section.company-updates ul.blog-posts li {
    list-style:none;
    margin-bottom:20px
}
section.company-updates ul.blog-posts li:hover i {
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg)
}
section.company-updates ul.blog-posts li a {
    display:block
}
section.company-updates ul.blog-posts li a:hover {
    text-decoration:none;
    color:#08C
}
section.company-updates ul.blog-posts li i {
    display:block;
    position:absolute;
    color:#34495e;
    font-size:30px;
    margin-top:10px;
    -webkit-transition:all .3s ease;
    transition:all .3s ease
}
section.company-updates ul.blog-posts li .blog-meta {
    margin-left:40px
}
section.company-updates ul.blog-posts li .blog-title {
    font-size:22px;
    line-height:1.4
}
section.company-updates ul.blog-posts li .blog-date {
    font-size:18px;
    line-height:27px;
    color:#333
}
section.company-updates .latest-tweets {
    margin:50px 0 0;
    min-height:340px
}
@media (min-width:768px) {
    section.company-updates .latest-tweets {
        margin:50px 0 0 35px
    }
}
footer {

    position:fixed;
    bottom:0;
    width:100%;
    left:0;
    height: 50px;
    background: #1B2122;
    color: #aaa;
    padding: 14px 0;
    font-size: 16px;
}
footer .copyright {
    float:left;
    padding-left: 70px;
}
footer ul.footer-nav {
    margin:4px 0 0;
    float:right;
    padding-left:0;
    padding-right: 100px;
    display:none;
}
@media (min-width:992px) {
    footer ul.footer-nav {
        display:block;
    }
}footer ul.footer-nav li {
    list-style:none;
    display:inline-block;
    padding:0 15px;
    border-left:1px solid #fff;
}
footer ul.footer-nav li:first-child {
    border-left:0;
}
footer ul.footer-nav li:last-child {
    padding:0 0 0 15px;
}
footer ul.footer-nav li a {
    color:#aaa;
    -webkit-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease
}
footer ul.footer-nav li a:hover {
    color:#fff;
    text-decoration:none;
}
.spacer {
    height: 20px;
    clear: both;
}
.data-container{
    padding-left: 10%;
    padding-right: 10%
}
.data-container h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    border-bottom: 1px solid #B0BED9;
    clear: both;
}
.modal-body img{
    margin-top: 20px;
    margin-left: 17px;
    width: 46%;
}
.modal-dialog{
    width: 800px;
}
