<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="../static/highcharts/js/highcharts.js"></script>
<script src="../static/highcharts/js/modules/exporting.js"></script>
<script type="text/javascript">
    $$(function() {
        var chart;
        $$(document).ready(function() {

            var options = {
                chart: {
                    renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Browser market shares at a specific website, 2010'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{}]
            };

            $$.getJSON('/app/get_app_list/data.json', function(data) {
                options.series[0].type = 'pie';
                options.series[0].name = 'Browser share';
                options.series[0].data = data;
                var chart = new Highcharts.Chart(options);
            });


        });

    });
</script>