$def with (apps)
<link href="../static/datatables/media/css/demo_page.css" rel="stylesheet">
<link href="../static/datatables/media/css/demo_table_jui.css" rel="stylesheet">
<link href="../static/datatables/examples/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css" rel="stylesheet">
<div class="demo_jui">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            $for app in apps:
                <tr class="gradeX">
                    <td>$app[0]</td>
                    <td>$app[1]</td>
                    <td>$app[2]</td>
                    <td>$app[3]</td>
                </tr>
        </tbody>
    </table>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $$(document).ready(function() {
        $$('#example').dataTable({
            "bProcessing": true,
            "bJQueryUI": true
//            "sPaginationType": "full_numbers"
        });
    });
</script>
