$def with (data)
<link href="../static/datatables/media/css/demo_page.css" rel="stylesheet">
<link href="../static/datatables/media/css/demo_table_jui.css" rel="stylesheet">
<link href="../static/datatables/examples/examples_support/themes/smoothness/jquery-ui-1.8.4.custom.css" rel="stylesheet">
<style>
table.display tfoot th {
    padding: 3px 8px 3px 10px;
    font-weight: bold;
    font-weight: normal;
}
</style>
<div class ="data-container">
    <h1>App列表</h1>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="app_list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            $for app in data[0]:
            <tr class="gradeX">
                <td>$app[0]</td>
                <td>$app[1]</td>
                <td>$app[2]</td>
                <td>$app[3]</td>
            </tr>
        </tbody>
    </table>
</div>
<div class ="data-container">
    <h1>App_Details列表</h1>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="app_detail_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Version</th>
                <th>Platform</th>
                <th>more</th>
            </tr>
        </thead>
        <tbody>
            $for app in data[1]:
                <tr class="gradeX">
                    <td>$app[1]</td>
                    <td>$app[2]</td>
                    <td>$app[3]</td>
                    <td>$app[5]</td>
                    <td>$app[6]</td>
                    <td><button class="btn btn-info" data-toggle="modal" data-target="#app_detail_modal_$app[10][app[10].rfind('/')+1:].replace('.','_')">more</button></td>
                    <div class="modal fade" id="app_detail_modal_$app[10][app[10].rfind('/')+1:].replace('.','_')" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h2 class="modal-title" id="myModalLabel"><img src1="$app[10]" width="50" height="50">$app[1]</h2>
                                </div>
                                <div class="modal-body">
                                    <li><b>文件大小：</b>$app[8]</li>
                                    <li><b>评分：</b>$app[11]分</li>
                                    <li><b>评论数：</b>$app[12]</li>
                                    <li><b>支持Android版本：</b>$app[13]</li>
                                    <li><b>下载量：</b>$app[14]</li>
                                    <li><b>最后更新日期：</b>$app[17]</li>
                                    <h1><b>详细介绍：</b></h1>$app[15] <br>
                                    $ imgs = app[16].split()
                                    $for img in imgs: 
                                        <img src1="$img">
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <script>$$('#app_detail_modal_$app[10][app[10].rfind('/')+1:].replace('.','_')').on('show.bs.modal', function(e) {lazyload("app_detail_modal_$app[10][app[10].rfind('/')+1:].replace('.','_')");})</script>
                </tr>
        </tbody>
	<tfoot>
            <tr>
                <th><input type="text" name="filter_name" value=" filter" class="search_init" /></th>
                <th><input type="text" name="filter_author" value=" filter" class="search_init" /></th>
                <th><input type="text" name="filter_category" value=" filter" class="search_init" /></th>
                <th><input type="text" name="filter_version" value=" filter" class="search_init" /></th>
                <th><input type="text" name="filter_platform" value=" filter" class="search_init" /></th>
                <th></th>
            </tr>
	</tfoot>
    </table>
</div>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript">
var asInitVals = new Array();
$$(document).ready(function() {
    $$('#app_list').dataTable({
        "bProcessing": true,
        "bJQueryUI": true
    });
    var oTable = $$('#app_detail_list').dataTable({
        "oLanguage": {
                "sSearch": "Search all columns:"
        },
        "bProcessing": true,
        "bJQueryUI": true
    });
        
    $$("tfoot input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $$("tfoot input").index(this) );
    } );

    /*
     * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
     * the footer
     */
    $$("tfoot input").each( function (i) {
            asInitVals[i] = this.value;
    } );

    $$("tfoot input").focus( function () {
            if ( this.className === "search_init" )
            {
                    this.className = "";
                    this.value = "";
            }
    } );

    $$("tfoot input").blur( function (i) {
            if ( this.value === "" )
            {
                    this.className = "search_init";
                    this.value = asInitVals[$$("tfoot input").index(this)];
            }
    } );
});

function lazyload(id){
    $$('#'+id+' img').each(function(){
        src = $$(this).attr("src1");
        if (src){
            this.src = src;
            $$(this).removeAttr('src1');            
        }
    });
};


</script>