<!DOCTYPE html>
<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Poly Spider Terminal</title>
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                min-height: 2000px;
            }
            .navbar-static-top {
                margin-bottom: 19px;
            }
        </style>
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/">Poly Spider</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home/">Home</a></li>
                        <li class="active"><a href="/state/">State</a></li>
                        <li><a href="/chart/">Chart</a></li>
                        <li><a href="/data/">Data</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div id="container-state" style="height: 500px; min-width: 600px"></div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/highstock/js/highstock.js"></script>
        <script src="../static/highstock/js/modules/exporting.js"></script>

        <script type="text/javascript">
            $$(function() {
                var seriesOptions = [],
                        yAxisOptions = [],
                        seriesCounter = 0,
                        names = ['MSFT', 'AAPL', 'GOOG'],
                        colors = Highcharts.getOptions().colors;

                $$.each(names, function(i, name) {

                    $$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=' + name.toLowerCase() + '-c.json&callback=?', function(data) {

                        seriesOptions[i] = {
                            name: name,
                            data: data
                        };

                        // As we're loading the data asynchronously, we don't know what order it will arrive. So
                        // we keep a counter and create the chart when all the data is loaded.
                        seriesCounter++;

                        if (seriesCounter == names.length) {
                            createChart();
                        }
                    });
                });



                // create the chart when all data is loaded
                function createChart() {

                    $$('#container-state').highcharts('StockChart', {
                        chart: {
                        },
                        rangeSelector: {
                            selected: 4
                        },
                        yAxis: {
                            labels: {
                                formatter: function() {
                                    return (this.value > 0 ? '+' : '') + this.value + '%';
                                }
                            },
                            plotLines: [{
                                    value: 0,
                                    width: 2,
                                    color: 'silver'
                                }]
                        },
                        plotOptions: {
                            series: {
                                compare: 'percent'
                            }
                        },
                        tooltip: {
                            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                            valueDecimals: 2
                        },
                        series: seriesOptions
                    });
                }

            });
        </script>

    </body>
</html>