<div class ="data-container">
    <h1>demo1</h1>
    <div id="container-xiaomi-status-list" style="height: 500px; min-width: 600px"></div>
</div>
<div class="spacer"></div>
<div class ="data-container">
    <h1>demo2</h1>
    <div id="container-xiaomi-status" style="height: 500px; min-width: 600px"></div>
</div>
<script src="../static/highstock/js/highstock.js"></script>
<script src="../static/highstock/js/modules/exporting.js"></script>

<script type="text/javascript">
    $$(function() {
        var seriesOptions = [],
                yAxisOptions = [],
                colors = Highcharts.getOptions().colors;
        $$.getJSON('/status/get_status_list_by_platform/xiaomi', function(data) {
            var data_crawled = [];
            var data_new = [];
            var data_update = [];
            $$.each(data, function(i, item) {
                date = item[2].split('-');
                date = Date.UTC(date[0], date[1] - 1, date[2]);
                data_crawled.push([date, item[3]]);
                data_new.push([date, item[4]]);
                data_update.push([date, item[5]]);
            });
//            data_crawled = JSON.stringify(data_crawled);
//            data_new = JSON.stringify(data_new);
//            data_update = JSON.stringify(data_update);
            seriesOptions[0] = {name: 'Crawled', data: data_crawled};
            seriesOptions[1] = {name: 'New', data: data_new};
            seriesOptions[2] = {name: 'Update', data: data_update};
            console.log(data_crawled);
            console.log(data_new);
            console.log(data_update);
            createChart();
        });
        // create the chart when all data is loaded
        function createChart() {
            $$('#container-xiaomi-status-list').highcharts('StockChart', {
                chart: {
                },
                rangeSelector: {
                    selected: 1
                },
                title: {
                    text: '小米爬虫数据分析'
                },
                yAxis: {
                    labels: {
                        formatter: function() {
                            return (this.value > 0 ? '+' : '') + this.value + '%';
                        }
                    },
                    plotLines: [{
                            value: 0,
                            width: 2,
                            color: 'silver'
                        }]
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                    valueDecimals: 2
                },
                series: seriesOptions
            });
        }
    });
    $$(function() {
        $$(document).ready(function() {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var chart;
            init_data = 
            $$('#container-xiaomi-status').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function() {
                            var series = this.series;
                            // set up the updating of the chart each second
                            setInterval(function() {
                                var x = (new Date()).getTime(); // current time
                                var y = Math.random();
                                $$.getJSON('/status/get_current_status_by_platform/xiaomi', function(data) {
                                    console.log("Data Loaded: " + data);
//                                    console.log(y);
                                    series[0].addPoint([x, data[3]], true, true);
                                    series[1].addPoint([x, data[4]], true, true);
                                    series[2].addPoint([x, data[5]], true, true);
                                });

                            }, 1000);
                        }
                    }
                },
                title: {
                    text: '小米实时数据分析'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: {
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                            color: '#808080'
                        }]
                },
                tooltip: {
                    formatter: function() {
                        return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 0);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Crawled App',
                        data: (function() {
                            // generate an array of random data
                            var data = [],
                                    time = (new Date()).getTime(),
                                    i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    },
                    {
                        name: 'New App',
                        data: (function() {
                            // generate an array of random data
                            var data = [],
                                    time = (new Date()).getTime(),
                                    i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    },
                    {
                        name: 'Update App',
                        data: (function() {
                            // generate an array of random data
                            var data = [],
                                    time = (new Date()).getTime(),
                                    i;

                            for (i = -19; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    }
                ]
            });
        });
    });
</script>
